name: Notificacion de Despliegue

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Enviar alerta a ntfy.sh
        run: |
          curl -d "Despliegue exitoso" ntfy.sh/devops-itla
